server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name ${PUBLIC_IP};

  ssl_certificate /etc/letsencrypt/live/${PUBLIC_IP}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${PUBLIC_IP}/privkey.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  return 301 https://${PUBLIC_DOMAIN}$request_uri;
}
